<div class="footer-links">
    <div class="footer-links__container">
        <div class="footer-link-item">
            <a class="footer-link-item__link" href="{baseURL}/press/">Press</a>
        </div>
        <div class="footer-link-item">
            <a class="footer-link-item__link" href="{baseURL}/jobs/">Jobs</a>
        </div>
        <div class="footer-link-item">
            <a class="footer-link-item__link" href="{baseURL}/privacy/">Privacy</a>
        </div>
        <div class="footer-link-item">
            <a class="footer-link-item__link" href="{baseURL}/cookies/">Cookies</a>
        </div>
        <div class="footer-link-item">
            <a class="footer-link-item__link" href="{baseURL}/terms-use/">Terms of use</a>
        </div>
        <div class="footer-link-item">
            <a class="footer-link-item__link" href="{baseURL}/contact-us/">Contact us</a>
        </div>
    </div>
</div>
