<div class="panel">
    <h2>About this map</h2>
    <p>This interactive map shows companies and research institutions operating in the civic and commercial drone industry in the UK. Entities have been classified as technology developers, drone service providers, services to the drone industry, academic & research organisations and others and are represented by a coloured dot accordingly. Dots with multiple colours indicate entities that fall into multiple categories.</p>
    <h3>Usage</h3>
    <p>Toggle entities types to display using the menus on the right.</p>
    <p>Hover over the dots to see the company name and click to open their website in a new tab (cmd / ctrl-click to stay on the map tab).</p>
    <p>To zoom use the +/- buttons, double click, or shift drag to select an area.</p>
</div>
